@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

/* DAISYUI CUSTOM THEME */
@plugin "daisyui/theme" {
	name: 'custom';
	default: true;
	prefersdark: true;
	color-scheme: light;
	--color-base-100: oklch(27.49% 0.0188 258.37);
	--color-base-200: oklch(23.49% 0.0188 258.37);
	--color-base-300: oklch(20.49% 0.0188 258.37);
	--color-base-content: oklch(94.9119% 0 0);
	--color-primary: oklch(27.49% 0.0188 258.37);
	--color-primary-content: oklch(94.9119% 0 0);
	--color-secondary: oklch(36.23% 0.0154 259.81);
	--color-secondary-content: oklch(94.9119% 0 0);
	--color-accent: oklch(67.99% 0.1155 200.65);
	--color-accent-content: oklch(94.9119% 0 0);
	--color-neutral: oklch(94.9119% 0 0);
	--color-neutral-content: oklch(27.49% 0.0188 258.37);
	--color-info: oklch(67.99% 0.1155 200.65);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(67.99% 0.1155 200.65);
	--color-success-content: oklch(97% 0.013 236.62);
	--color-warning: oklch(67.99% 0.1155 200.65);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(67.99% 0.1155 200.65);
	--color-error-content: oklch(97% 0.014 343.198);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.3rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

/* DEFINE FONTS FROM FONTSOURCE */
/* Must import font in root layout file */
@theme {
	--font-sans: 'Source Sans 3', 'sans-serif';
}

/* ADD DEFAULTS FOR PROSE STYLES HERE */
@layer base {
	body {
		@apply prose md:prose-xl xl:prose-2xl prose-a:no-underline prose-a:bg-[url(/src/lib/assets/1x2-00adb5ff.png)] prose-a:bg-repeat-x prose-a:bg-[left_95%] prose-a:hover:bg-accent prose-a:hover:rounded-lg prose-pre:font-light prose-pre:italic prose-pre:text-wrap prose-pre:font-sans prose-pre:bg-transparent prose-pre:text-neutral-300;
	}
}
